﻿@model FinalProject.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventChefName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventChefName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEmailOfPoster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEmailOfPoster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventFull)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
