﻿@{
    ViewBag.Title = "Home Page";

}



<h3>Underground Dining</h3>
<body>
    <h5>Welcome to Underground Dining!!</h5>

    <p>
        This site is avaiable to anyone who is interested in creating a new Underground Dining event, and those
        who wish to attend one of the many Events this site has listed.
    </p>

    <p>
        If you are a chef and want to post information about your event, feel free to register for the site, and set your role
        as chef. You will then be able to post new events, and be able to invite other members on the site to your events.
    </p>

    <p>
        If you are a regular person keen on attending some of these events, please register as a basic user, and browse to your hearts
        content. You will be able to view all events currently going, and express your interest in the event by notifying the chef who
        is running the event.
    </p>
</body>


<br />
<br />